In [ ]:
import keyword
print(keyword.kwlist,'\n')

In [ ]:


print(round(2//3))
print(2%1)
print(2**3)

In [ ]:
#Q. a=52 와 b=52.273 일때, a+b는 5252.273로 출력되도록 a ,b를 문자열 
#자료형으로 변환하세요.

a=52
b=52.273

print(str(a)+str(b))

In [ ]:
d1= {'a':1,'b':2,'c':3}

print(d1['a'])

In [ ]:
d1={'맑음':1, '눈':2, '비':3}


x = int(input('오늘의 날씨를 입력하세요>'))
print(d1[x])

In [ ]:
y=3.42134234
f'{y:0.4f}'
f'{y:10.5f}'

In [ ]:
# 1~ 10 법위의 정수에서 1부터 5까지만 출력하세요

for i in range (1,11):
    print(i)
    while 1 :
        if i > 4:
            continue
        else:
            break

In [ ]:
#numbers 리스트에서 15,20,25를 출력하세요(for문과  if조건 사용 필수)
numbers = [5,15,6,20,7,25]

for i in  numbers:
   
    if i > 10:
        print(i)
    else:
        continue

In [ ]:
# 정수 1부터 n 까지 더할 때 그 합이 1000보다 커지게 되는 n과 합을 구하세요

x=1
sum= 0

while 1:
    
        sum = sum+x
        if sum > 1000:
            print(x)
            print(sum)
       
            break
        x =x+1

In [ ]:
#while 문을 사용해1부터 10000까지의 정수 중 3의 배수의 합을 구하시오

x=1
sum=0

while 1:
    for x in range(1,1000):
        if x%3 == 0 :
            sum=sum+x
    break   
  
print(sum)

In [ ]:
x=1
sum = 0

while 1 :
    for x in range(1,1000):
        if x %3 == 0 :
            sum+=x
        
    break
    
print(sum)

In [ ]:
#과제 #1부터 100까지의 정수 중 5에서 95까지의 합을 구하시오

num = 1
sum = 0


while num <100:
    if i >= 5 or i <=95:
        sum += num
        num += 1
print(sum)

In [ ]:
#5의 3승을 3으로 나누었을 때 나머지를 복합대입 연산자를 이용해 구하세요

(5**3)%3

In [ ]:
#1부터 5까지 입력해서 12345를 출력하세요
num=12345

for i in range(1,6):
    
    if i < 6 :
        print(i, end=' ')
        continue
    else:
        break

In [ ]:
#[0,1,2,3,4,5,6,7,8,9,' a','b','c']에서 9와 'a'를 삭제후 리스트로 출력하세요
a=[0,1,2,3,4,5,6,7,8,9,' a','b','c']
del(a[9])
del(a[9])

a

In [ ]:
#format함수를 이용해서 다음과 같은 형식으로 현재 날짜/시간을 출력하세요 
#2021년 12월 29일 15시 47분 30초

import datetime
t = datetime.datetime.now()

print("{}년{}월{}일{}시{}분{}초".format(t.year,t.month,t.day,t.hour,t.minute,t.second))

In [ ]:
#현재 시각을 오전과 오후로 구분하느 프로그램을 작성하세요.
import datetime
t = datetime.datetime.now()



if t.hour> 12:
    print("현재 시간은 {}시로 오후입니다".format(t.hour))
else:
    print("오전입니다")

In [ ]:
#정수를 입력하면 홀수짝수를 판별하는 프로그램을 작성하세요
num = int(input('정수입력: >>>'))
while 1:
    if num%2 == 0:
        print("짝수입니다")
    else:
        print("홀수입니다")
    break

In [ ]:
#태어난 연도를 입력받아 띠를 출력하는 프로그램을 작성하세요. 
#원숭이,닭,개,돼지.쥐,소,범 ,토끼,용,뱀,말,양띠

i = input("태어난 해를 입력해: >>")
year = int(i)%12
animals = ['원숭이','닭','개','돼지','쥐','소','범' ,'토끼','용','뱀','말','양띠']

print(animals[year],'띠입니다')

In [ ]:
#계절 구분 프로그램 각 계절별 출력멘트는 계절에 맞게 창작

month = int(input("달을 입력해주세요"))

if month >=3 and month <=5 :
    print(f'오늘의 달은 {month}달로 봄입니다')

In [ ]:
#계절 구분 프로그램 각 계절별 출력멘트는 계절에 맞게 창작
#자판기 커피 재고 5잔, 커피 1잔 가격 300원, 재고 범위내에서 300원 이상 
#돈을 넣으면 거스름돈과 커피를 주고 그렇지 않으면 반환하며 재고가 소진되면 
#안내멘트 출력 각 Case별 멘트 출력은 상황에 맞게 창작 
#while, if ~ elif ~ else 제어문을 사용하여 작성


coffee = 5
price = 300



while 1:
    try:
        money = int(input("돈을 넣어주세요 "))
        if money> 300: 
            print("따듯한 커피 드리겠습니다")
            p = int(input("몇 잔 드시겠습니까"))
            change = money -(price*p)
            print("거스름돈 {}드리겠습니다".format(change))
            coffee= coffee-p
            x = input("종료하시겠습니까")
            if x =='y':    
                break

        elif money < 300:
            print("돈이 부족합니다")
            x = input("종료하시겠습니까")
            if x =='y':    
                break   
        else: 
            if coffee == 0 :
                print("재고가 소진되었습니다")
    
           

    except ValueError:
            print("숫자로 입력하세요")
        
    except:
        
            print('문자를 입력하세요')

In [ ]:
#[과제] 1부터 100까지 아래와 같이 2개의 수를 곱해서 가장 큰 수를 구하세요.


#1*99,2*98....99*1

i +=i
m = (100-i)

if i in range(1,51):
    if i < i(100-51):
        b=i

In [ ]:
i +=i
m = 100-i

for i in range(1,51):
    if i<i(100-51):
        b=i
    print(a,"*",100-a'의 최댓값은 b'입니다)

In [1]:
#[1,4,7], [2,5,8],[3,6,9]

numbers = [1,2,3,4,5,6,7,8,9]
output = [[],[],[]]



for number in numbers:
    output [(number+2)%3].append(number)
print(output)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [3]:
import numpy as np
np.random.seed(0)
num= np.random.randint(20,size=20)
num

array([12, 15,  0,  3,  3,  7,  9, 19, 18,  4,  6, 12,  1,  6,  7, 14, 17,
        5, 13,  8])

In [9]:
import numpy as np

for i in range(1,46):
    lotto_num=np.random.randint(46,size=6)
print(lotto_num)

[38 43 18  7 28  1]

In [2]:
numbers = [1,2,3,4,5,6,7,8,9]
output = [[],[],[]]


for number in numbers:
    output[(number+2)%3].append(number)
print(output)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [12]:
import random

n=input("게임 횟수 입력")

for i in range(0,int(n)):
    lotto = random.sample(range(1,46),6)
    lotto.sort()
print(lotto)

게임 횟수 입력4
[3, 12, 39, 40, 41, 45]

In [20]:

from random import shuffle

male = ['슈퍼맨', '심봉사', '로미오', '이몽룡', '마루치']
female = ['원더우먼', '뺑덕', '줄리엣', '성춘향', '아라치']

shuffle(male)
shuffle(female)
couples = zip(male,female)

for i, couple in enumerate(couples):
    print(f'커플{i+1}:{couple[0]}-{couple[1]}')

커플1:이몽룡-줄리엣
커플2:로미오-성춘향
커플3:심봉사-원더우먼
커플4:슈퍼맨-뺑덕
커플5:마루치-아라치

In [23]:
#[과제]남녀 파트너 정해주기 프로그램을 작성하세요(5개 커플)

from random import shuffle

male = ['슈퍼맨', '심봉사', '로미오', '이몽룡', '마루치']
female = ['원더우먼', '뺑덕', '줄리엣', '성춘향', '아라치']

shuffle(male)
shuffle(female)
couples =zip(male,female)

for i,couples in enumerate(couples):
    print(f'커플 {i+1}:{couples[0]}-{couples[1]}')

커플 1:심봉사-아라치
커플 2:마루치-뺑덕
커플 3:이몽룡-원더우먼
커플 4:로미오-성춘향
커플 5:슈퍼맨-줄리엣

In [39]:
#입력받은 문자열의 각 문자를 그 다음 문자로 변경하여 출력하세요

#abcde ->bcdea

In [45]:
str ='abcde'
lst = list(str)
lst.append(lst[0])
lst.remove(lst[0])
str = ''.join(lst)
str

TypeError: 'list' object is not callable

In [46]:
numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]
dic_num={}

for i in set(numbers):
    dic_num[i] = numbers.count(i)
    
print(dic_num)

{2: 2, 3: 4, 4: 2, 5: 2, 6: 2, 7: 2, 8: 2, 9: 2}

In [47]:
numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]
dic_num={}

for i in set(numbers):
    dic_num[i]=numbers.count(i)
print(dic_num)

{2: 2, 3: 4, 4: 2, 5: 2, 6: 2, 7: 2, 8: 2, 9: 2}

In [48]:
numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]
dic_num= {}

for i in set(numbers):
    dic_num[i] = numbers.count(i)
print(dic_num)

{2: 2, 3: 4, 4: 2, 5: 2, 6: 2, 7: 2, 8: 2, 9: 2}

In [57]:
#[과제] 4칙 연산 기능을 포함한 Cal4  클래스 (생성자 이용)을 작성하고 이 클래스를
#이용하여 Cal 계싼기 객체를 만든후 적절한 사칙연산 수행 결과를 출력하세요class Add:

class FourCal:
    def setdata(self,first,second):
        self.first = first
        self.second = second
    def add(self):
        result = self.first+ self.second
        return result

    def mul(self):
        result = self.first * self.second
        return result 
    def sub(self):
        result = self.first - self.second
        return result 
    def div(self):
        result = self.first / self.second
        return result 

a = FourCal()
a.setdata(4,2)
print(a.add())
print(a.mul())

6
8

In [60]:
class Cal4:
    def __init__(self,n1,n2):
        


class Add:
    def add(self,n1,n2):
        return n1+n2
class Sub:
    def sub(slef, n1, n2):
        return n1-n2
class Mul:
    def mul(self,n1,n2):
        return n1*n2
class Div:
    def div(self,n1,n2):
        return n1/n2

class Cal(Add,Sub,Mul,Div):
    def cal(self, n1,n2):
        return n1+n2, n1-n2, n1*n2, n1/n2
    
a = Cal4()
print(a.add(1,2))
print(a.mul(3,2))
print(a.sub(5,3))

IndentationError: expected an indented block (Temp/ipykernel_3452/3239892025.py, line 6)

In [ ]:
20문제  

기본적으로 
for 문, IF문
내장함수 
함수-
함수 형태 4가지
입력값,출력값 있고없고 없고있고 둘다있고
내장함수 외장함수 했고
 range 
enumerate(인덱스하고 요소하고 같이나옴)
eval (문자열로 해도 연산이되어서나옴)
sort /reverse
map함수 뭐에요(랩핑해주는거야
잘 알아야돼 )
fliter/map함수 잘 써야돼
사용자함ㅁ수 만등러서 보여주고
내장함수 이용ㅎ서 바ㄱ꿔보라 가 나올수있어
lambda함수
sum = lambda a,b :a+b
sum(3,4)
pickle os 같은 외장함수 glob, time 등
glob 프로그래밍에 올 .txt
패턴과 이름이 ㅇ리치하는 모든 파일과 디렉토리 알려줌
time이라는 라이브러리에는 
time local time asctime 
외장함수 쓰면서 익혀둬야한다
print(calendar.weekday(2022,1,13)
import webbrowser
webbrowser.open('http://navercom")
pop뽑아주는 거 리스트에서 없어짐
remove역시
람다함수 내장함수 사용해 출력하기 



li=[1,2,3,4,5]
blank =[[],[],[],[],[]]

exp = lambda a,b:(li[a]**b)
for i in range(4):
blank[i] = exp(1,2)
print(blank)
내장함수 필터링하는 거 할 줄 알아야되고
몫과 나머지 구하는 거 div mod

함수응용은 별로 안나올거야
예외처리도해야겠주
 try except finally 2-3개이상 예외처리할 수 있어야돼
정규표현식 과제정도 다 할 줄 알아야됨
어떤 리스트에서 숫자가 몇 번 등장하는지
ㅇ건 딕셔너맃타입으로 숫자별로몇개ㅡ이렇게
해줘야되잖아 그런거
그다음에 클래스
생성자, 메[소드,속성 등 
상속을 받아서 부모클래스있ㄴ,ㄴ 거 가져와서
사용할 줄 안는 거 해야돼
사칙연산 수행하는 클래스, 
클레스 이용해서 객체만들기, 
거기에 input값 줘서 출력하고
인수하고 매개변수하고 매개변수 설명
안했는데 input값이 인수, ㅡ클래스
만들 때 인수 입력하게 a,b 

add(self,a,b) a,b가 매개변수 저기에오는 숫자가
3,5=> 인수
날짜수 계싼하는 거 정돈 할 수 있어야돼

출생아 데이터가지고 한 거
출생아 수 출력한 거 
그정도