In [2]:
from sklearn.datasets import load_iris
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [3]:
import pandas as pd

iris = load_iris()
iris.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename'])

In [5]:
#품종을 정해주는 label
iris.target

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [7]:
iris.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [13]:
iris.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [17]:
iris_data = iris.data
iris_label = iris.target
iris_df = pd.DataFrame(data=iris_data,columns=iris.feature_names)
iris_df['label']= iris.target
iris_df.head()
#꽃받침의 길이와 넓이, 꽃잎의 길이와 넓이가 어떻게 붓꽃의 종류에 영향을 미치냐 -> 독립변수 4개

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [28]:
#학습 데이터와 검증데이터는 분리해야됨
#우리가 지향하는 모델은 일반화된 모델
#훈련할 때 사용된 데이터에는 잘 맞더라도 일반 데이터에 안 맞으면 말짱꽝
# 주어진 데이터 가지고 학습용과 검증용 데이터로 나누어줘야함
#random_state에는 아무번호 쓴거임
X_train,X_test,y_train,y_test = train_test_split(iris_data,iris_label,test_size=0.2,random_state=11)

In [29]:
#DecisionTree 객체 생성
dt_clf = DecisionTreeClassifier()
# 학습 수행
dt_clf.fit(X_train,y_train)

DecisionTreeClassifier()

In [34]:
#헉습이 완료된 DT 객체에서 테스트 데이터 세트로 예측 수행
pred = dt_clf.predict(X_test)

In [36]:
#예측 정확도 평가
from sklearn.metrics import accuracy_score
#y실제값과, 예측값을 넣으면 정확도 평가
print(f'예측정확도:{accuracy_score(y_test,pred)}')

예측정확도:1.0

In [37]:
dt_clf.fit(iris_data,iris_label)
pred = dt_clf.predict(iris_data)
print(f'예측정확도:{accuracy_score(iris_label,pred)}')

예측정확도:1.0

In [21]:
iris_df.label.value_counts()

0    50
1    50
2    50
Name: label, dtype: int64

In [26]:
#label 150개 중 8:2 로 나누니깐 120개 train, test->30
print(X_train.shape)
Y_train.shape

(120, 4)

(120,)

In [38]:
교차검증

NameError: name '교차검증' is not defined

In [61]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.datasets import load_iris
from sklearn.metrics import accuracy_score
from sklearn.model_selection import KFold
import numpy as np

iris = load_iris()
features = iris.data
label = iris.target
dt_clf = DecisionTreeClassifier(random_state=156)

# 5개의 폴드 세트로 분리하는 KFold 객체와 폴드 세트별 정확도를 담을 리스트 생성
kfold = KFold(n_splits=5)
cv_accuracy = []
n_iter = 0
for train_index,test_index in kfold.split(features):
    X_train,X_test = features[train_index],features[test_index]
    y_train,y_test = label[train_index],label[test_index]
    dt_clf.fit(X_train,y_train)
    pred = dt_clf.predict(X_test)
    n_iter +=1
    
    accuracy = np.round(accuracy_score(y_test,pred),4)
    train_size = X_train.shape[0]
    test_size = X_test.shape[0]
    cv_accuracy.append(accuracy)
    print('\n#{} 회차 검증 정확도: {}, 학습 데이터 크기: {}, 검증 데이터 크기: {}'.format(n_iter, accuracy, train_size, test_size))
    print('#{} 검증 세트 인덱스: {}'.format(n_iter, test_index),'\n')
    print(f'평균 검증 정확도:{np.mean(cv_accuracy)}')

#1 회차 검증 정확도: 1.0, 학습 데이터 크기: 120, 검증 데이터 크기: 30
#1 검증 세트 인덱스: [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29]

평균 검증 정확도:1.0

#2 회차 검증 정확도: 0.9667, 학습 데이터 크기: 120, 검증 데이터 크기: 30
#2 검증 세트 인덱스: [30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53
 54 55 56 57 58 59]

평균 검증 정확도:0.98335

#3 회차 검증 정확도: 0.8667, 학습 데이터 크기: 120, 검증 데이터 크기: 30
#3 검증 세트 인덱스: [60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83
 84 85 86 87 88 89]

평균 검증 정확도:0.9444666666666667

#4 회차 검증 정확도: 0.9333, 학습 데이터 크기: 120, 검증 데이터 크기: 30
#4 검증 세트 인덱스: [ 90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119]

평균 검증 정확도:0.941675

#5 회차 검증 정확도: 0.7333, 학습 데이터 크기: 120, 검증 데이터 크기: 30
#5 검증 세트 인덱스: [120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137
 138 139 140 141 142 143 144 145 146 147 148 149]

평균 검증 정확도:0.9

In [53]:
iris = load_iris()
iris_df = pd.DataFrame(data =iris.data,columns=iris.feature_names)
iris_df['label']=iris.target
iris_df.label.value_counts()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [55]:
kfold = KFold(n_splits=3)
n_iter=0
for train_index, test_index in kfold.split(iris_df):
    n_iter+=1
    label_train = iris_df['label'].iloc[train_index]
    label_test = iris_df['label'].iloc[test_index]
    
    print('##### 교차 검증: {} #####'.format(n_iter))
    print('학습 레이블 데이터 분포:\n',label_train.value_counts())
    print('검증 레이블 데이터 분포:\n',label_test.value_counts(),'\n\n')

##### 교차 검증: 1 #####
학습 레이블 데이터 분포:
 1    50
2    50
Name: label, dtype: int64
검증 레이블 데이터 분포:
 0    50
Name: label, dtype: int64


##### 교차 검증: 2 #####
학습 레이블 데이터 분포:
 0    50
2    50
Name: label, dtype: int64
검증 레이블 데이터 분포:
 1    50
Name: label, dtype: int64


##### 교차 검증: 3 #####
학습 레이블 데이터 분포:
 0    50
1    50
Name: label, dtype: int64
검증 레이블 데이터 분포:
 2    50
Name: label, dtype: int64

#####  [과제] 상기 케이스에 대한 교차 검증을 아래와 같이 수행하세요
- 각 회차별 교차 검증 정확도 및 검증 세트 인덱스
- 평균 검증 정확도

In [62]:
from sklearn.model_selection import StratifiedKFold
import numpy as np
features = iris.data
label = iris.target

dt_clf = DecisionTreeClassifier(random_state=156)
skfold = StratifiedKFold(n_splits=3)
n_iter = 0
cv_accuracy= []

for train_index,test_index in skfold.split(features,label):
    X_train,X_test = features[train_index],features[test_index]
    y_train,y_test =label[train_index],label[test_index]
    
    dt_clf.fit(X_train,y_train)
    pred = dt_clf.predict(X_test)
    
    n_iter +=1
    accuracy=np.round(accuracy_score(y_test,pred),4)
    
    train_size =X_train.shape[0]
    test_size = X_test.shape[0]
    
    print('\n#{} 교차 검증 정확도 :{}, 학습 데이터 크기 :{}, 검증 데이터 크기 :{}'.format(n_iter, accuracy, train_size, test_size))
    print('#{} 검증 데이터 인덱스:{}'.format(n_iter, test_index))
    
    cv_accuracy.append(accuracy)

# 교차 검증별 정확도 및 평균 정확도 계산
print('\n 교차 검증별 정확도:',np.round(cv_accuracy, 4))
print('## 평균 검증 정확도:', np.mean(cv_accuracy))

#1 교차 검증 정확도 :0.98, 학습 데이터 크기 :100, 검증 데이터 크기 :50
#1 검증 데이터 인덱스:[  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  50
  51  52  53  54  55  56  57  58  59  60  61  62  63  64  65  66 100 101
 102 103 104 105 106 107 108 109 110 111 112 113 114 115]

#2 교차 검증 정확도 :0.94, 학습 데이터 크기 :100, 검증 데이터 크기 :50
#2 검증 데이터 인덱스:[ 17  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  67
  68  69  70  71  72  73  74  75  76  77  78  79  80  81  82 116 117 118
 119 120 121 122 123 124 125 126 127 128 129 130 131 132]

#3 교차 검증 정확도 :0.98, 학습 데이터 크기 :100, 검증 데이터 크기 :50
#3 검증 데이터 인덱스:[ 34  35  36  37  38  39  40  41  42  43  44  45  46  47  48  49  83  84
  85  86  87  88  89  90  91  92  93  94  95  96  97  98  99 133 134 135
 136 137 138 139 140 141 142 143 144 145 146 147 148 149]

 교차 검증별 정확도: [0.98 0.94 0.98]
## 평균 검증 정확도: 0.9666666666666667

In [69]:
#cross_val_score(): 교차 검증을 보다 간편하게 
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score,cross_validate
from sklearn.datasets import load_iris

iris_data = load_iris()
data = iris_data.data
label= iris_data.target
dt_clf = DecisionTreeClassifier(random_state=156)
#DATA=> 독립변수, label=종속변수, cv=3 교차검증 횟수,
scores  =cross_val_score(dt_clf,data,label,scoring='accuracy',cv=3)
print('교차검증도',np.round(scores,4))
print('평균교차검증도',np.round(np.mean(scores),4))

교차검증도 [0.98 0.94 0.98]
평균교차검증도 0.9667

In [70]:
#하이퍼 파라미터란 머신러닝 알고리즘을 구성하는 주요 구성 요소이며, 사용자가 직접 세팅가능
#이 값을 조정해 알고리즘의 예측 성능을 개선할 수 있습니다.

In [6]:
from sklearn.model_selection import GridSearchCV
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
import pandas as pd
#refit => 최적의 하이퍼파라미터 나오면 다시 돌리는 것

iris = load_iris()
X_train,X_test,y_train,y_test = train_test_split(iris.data,iris.target,test_size=0.2,random_state=121)
dtree= DecisionTreeClassifier()
### 파라미터를 딕셔너리 형태로 설정
parameters = {'max_depth':[1,2,3],'min_samples_split':[2,3]}
grid_dtree =GridSearchCV(dtree,param_grid = parameters,cv=3,refit=True)

grid_dtree.fit(X_train,y_train)
scores_df = pd.DataFrame(grid_dtree.cv_results_)
scores_df[['params','mean_test_score','rank_test_score']]

                                     params  mean_test_score  rank_test_score
0  {'max_depth': 1, 'min_samples_split': 2}         0.700000                5
1  {'max_depth': 1, 'min_samples_split': 3}         0.700000                5
2  {'max_depth': 2, 'min_samples_split': 2}         0.958333                3
3  {'max_depth': 2, 'min_samples_split': 3}         0.958333                3
4  {'max_depth': 3, 'min_samples_split': 2}         0.975000                1
5  {'max_depth': 3, 'min_samples_split': 3}         0.975000                1

In [7]:
print('GridSearchCV 최적 파라미터:',grid_dtree.best_params_)
#train data가지고 가장 정확한 파라미터 구한거 
print('GridSearchCV 최고 정확도:',grid_dtree.best_score_)

GridSearchCV 최적 파라미터: {'max_depth': 3, 'min_samples_split': 2}
GridSearchCV 최고 정확도: 0.975

In [63]:
estimator = grid_dtree.best_estimator_
pred = estimator.predict(X_test)
print(f'테스트 데이터 정확도:{accuracy_score(y_test,pred)}')

테스트 데이터 정확도:0.98

In [40]:
#데이터 인코딩
#레이블 인코딩
from sklearn.preprocessing import LabelEncoder
items=['TV','냉장고','전자랜지','컴퓨터','선풍기','믹서','믹서']
encoder = LabelEncoder()
labels =encoder.fit_transform(items)
print(f'인코딩 반환값:{labels}')
print(encoder.classes_)

인코딩 반환값:[0 1 4 5 3 2 2]
['TV' '냉장고' '믹서' '선풍기' '전자랜지' '컴퓨터']

In [42]:
df =pd.DataFrame({'items':items})
df

  items
0    TV
1   냉장고
2  전자랜지
3   컴퓨터
4   선풍기
5    믹서
6    믹서

In [12]:
encoder.classes_

array(['TV', '냉장고', '믹서', '선풍기', '전자랜지', '컴퓨터'], dtype='<U4')

In [47]:
 pd.get_dummies(df)

   items_TV  items_냉장고  items_믹서  items_선풍기  items_전자랜지  items_컴퓨터
0         1          0         0          0           0          0
1         0          1         0          0           0          0
2         0          0         0          0           1          0
3         0          0         0          0           0          1
4         0          0         0          1           0          0
5         0          0         1          0           0          0
6         0          0         1          0           0          0

In [18]:
#원핫인코딩
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
items=['TV','냉장고','전자랜지','컴퓨터','선풍기','믹서','믹서']
encoder = LabelEncoder()
labels =encoder.fit_transform(items)
labels = labels.reshape(-1,1)
labels
oh_encoder = OneHotEncoder()
oh_labels = oh_encoder.fit_transform(labels)
oh_labels.toarray()
#해당하는 인덱스에 값이 나오는 희소행렬

array([[1., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 1.],
       [0., 0., 0., 1., 0., 0.],
       [0., 0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0.]])

In [22]:
dict={'TV':1,'냉장고':2,'전자랜지':3,'컴퓨터':4,'선풍기':5,'믹서':6,'믹서':6}
s = pd.DataFrame({'item':['TV','냉장고','전자랜지','컴퓨터','선풍기','믹서','믹서']})
pd.get_dummies(s['item'])

   TV  냉장고  믹서  선풍기  전자랜지  컴퓨터
0   1    0   0    0     0    0
1   0    1   0    0     0    0
2   0    0   0    0     1    0
3   0    0   0    0     0    1
4   0    0   0    1     0    0
5   0    0   1    0     0    0
6   0    0   1    0     0    0

In [ ]:
# 레이블 인코더-> 숫자의 우의를 가림 ex) 0초등학생,1중학생,2고등학생
# 원핫인코더 -> 가변수0,1로 숫자의 우의를 가리지 않음

In [ ]:
#피처스케일링과 정규화
차이를 표준편차로 나누어주면 평균이 0이고 표준편차가 1인 값으로 전환이 됨
가우시안 정규분포를 가지는 것을 의미한다
새로운 i번째 데이터 평균값을 뺐다 표준편차로 나눈 값
표준편차라는 것은 뭐지
분산 표준편차=분산

In [ ]:
각 원소에서 최소값 만약1이라면 1-1 = 0 
최소값이 되는 건 0이 되어버리고, 100은 100-1 = 99
max-min 값 차이 99
99/99= 1
1에서 100까지 숫자의 집합에서는 지금 0~1사이 숫자로 변환이 되는거죠
1에서 억까지의 숫자가 있는 집합을 보더래도 
최소값이 1인경우 역시 1-1 = 0이 되니깐 0이 되겠져
최소값은 0이 될거고 최대값인 억은 1억-1 = 구천만구구구구구 
최대값하고 최소값 1억을 빼도 9999999 =1 이되잖아
숫자 그룹이 어떻게 되더라도 각 원소에서 최소값을 뺀 거를 그 숫자 그릅의 집합의 차이로 나누어주면
0~1사이 숫자로 전환이 됩니다
=?> 정규화 
sklearn 에서는 그런 기능하는 것을 minmaxscale로 해줌

In [28]:
from sklearn.datasets import load_iris
import pandas as pd

iris = load_iris()
iris_data = iris.data
iris_df = pd.DataFrame(data=iris_data, columns=iris.feature_names)

iris_df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [29]:
#평균이 0이고 분산이 1인 가우시안 정규 분포의 값으로 변환
from sklearn.preprocessing import StandardScaler 

#정규화
scaler = StandardScaler()
iris_scaled = scaler.fit_transform(iris_df)
iris_scaled
iris_scaled_df =pd.DataFrame(data =iris_scaled,columns=iris_df.columns)
print(iris_scaled_df.head())
print(f'평균:{iris_scaled_df.mean()}')
print(f'평균:{iris_scaled_df.var()}')
 
# iris_df.mean()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0          -0.900681          1.019004          -1.340227         -1.315444
1          -1.143017         -0.131979          -1.340227         -1.315444
2          -1.385353          0.328414          -1.397064         -1.315444
3          -1.506521          0.098217          -1.283389         -1.315444
4          -1.021849          1.249201          -1.340227         -1.315444
평균:sepal length (cm)   -1.690315e-15
sepal width (cm)    -1.842970e-15
petal length (cm)   -1.698641e-15
petal width (cm)    -1.409243e-15
dtype: float64
평균:sepal length (cm)    1.006711
sepal width (cm)     1.006711
petal length (cm)    1.006711
petal width (cm)     1.006711
dtype: float64

In [ ]:
#[과제] iris_df 를 정규화 수행 결과와 최댓값,최솟값을 출력하세요

In [48]:
#MinMaxScaler는 데이터의 값을 0과 1사이의 범위 값으로 변환하는 기능을 지원합니다.(음수 값 존재시 -1 ~ 1)
from sklearn.preprocessing import MinMaxScaler
scaler =MinMaxScaler()
iris_scaled = scaler.fit_transform(iris_df)
iris_scaled
iris_scaled_df =pd.DataFrame(data =iris_scaled)
print(iris_scaled_df.head())
print(f'평균:{iris_scaled_df.mean().astype(int)}')
print(f'분산:{iris_scaled_df.var().astype(int)}')

          0         1         2         3
0  0.222222  0.625000  0.067797  0.041667
1  0.166667  0.416667  0.067797  0.041667
2  0.111111  0.500000  0.050847  0.041667
3  0.083333  0.458333  0.084746  0.041667
4  0.194444  0.666667  0.067797  0.041667
평균:0    0
1    0
2    0
3    0
dtype: int32
분산:0    0
1    0
2    0
3    0
dtype: int32

In [ ]:
#[과제] train.csv데이터로 생존자 분석 예측을 위한 분석용 데이터셋을 하나의 사용자 함수를 이용하여 작성한 후
#모델링 및 성능 평가를 수행하세요 .단 (전처리는 최소한 5개 이상,정확도는 0.85이상)

https://codetorial.net/matplotlib/multiple_curves.html