In [1]:
!python -V

Python 3.7.11

In [2]:
#표현식

print(273)
10+20+30

273

60

In [3]:
#표현식이 하나 이상씩 모이면 문장
print("hello python")
print(52, 'hello python', 5+3)

hello python
52 hello python 8

In [4]:
# 문장이 모여서 프로그램
a = 1 ; b = 1 ; c=a+b
print(c)

2

In [5]:
#python keyword
import keyword
print(keyword.kwlist,'\n')
print() # 공백주기 위해  ,'\n 쓰면 공백을 의미'
print(len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']


35

식별자의 기본 규칙

* 키워드를 사용하면 안된다.
*특수문자는 언더바(_)만 사용한다.
*숫자로 시작하면 안된다.
*공백을 포함할 수 없다.

In [6]:
alpha
break #키워드 -x
alpha10
_alpha
273alpha # 숫자 - x
Alpha
ALPHA 
has space # 공백 -x

SyntaxError: invalid syntax (Temp/ipykernel_3884/3309865105.py, line 5)

https://bibi6666667.tistory.com/277
파이썬은 snake_case와  CamelCase를 모두 사용

*itemlist item_list litemList
*loginsatus login_status Loginstatus
* 캐멀 케이스(대문자로 시작)클래스
* 스네이크 케이스(소문자로 시작)뒤에 ()가 있다-함수
* 스네이크 케이스(소문자로 시작)뒤에 ()가 없다 - 변수
#a=1 이런 건 변수, sum(a) = 함수

In [ ]:
#사람이 생각하는 방식을 그대로 표현할 수 있는 언어
#  조건일 땐 콜론을 찍습니다
if 3 in [1,2,3,4] : print('3이 있습니다')

In [ ]:
if '빨강' in ['빨강','노랑','초록'] : print('포함됩니다')

In [ ]:
#파이썬 자료형 - 숫자형(정수,실수,8진수,16진수)
a = 123 # 파이썬에서 = 기호는 대입을 의미
b = -123
c = 0
d = 1.23
e = 0o177 # 8지수 00또는  00 으로 시작
f = 0xABC #16진수  0x로 시작
g = 0b101010  #2진수 0b
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)

In [ ]:
#사칙연산
a =10
b=2
c=a+b
d=a*b
e=a/b
f=a%b #a나누기 b 하고 난 나머지
g=a//b # 몫
h= 2**3 # 제곱
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)
print(h)

In [ ]:
# 다른 타입간 연산은 안됨
string = '문자열'
number = 273
string + number

In [ ]:
a= 10
a = '문자'
a = 100
type(a)

In [ ]:
# 복합 대입 연산자
num = 10
num += 10 #num =10 넣었지 근데 +가 있잖아  10+10 하라는거야
num *= 10 #20있지 곱하기 하래 10을/10을 곱하니간 200이 됬지 200을 넘에 넣으니 200
num

In [ ]:
#사용자 입력
input('인사말을 입력하세요: ')

In [ ]:
num = input('숫자를 입력하세요: ') # input 함수를 무엇을 입력해도 문자로 처리
print(num)
type(num)

In [ ]:
num = 100
num /= 10
print(num)
type(num)

In [ ]:
num = 100
num /= 10
num

In [ ]:
num1 = input('숫자를 입력하세요')
num2 = input('숫자를 입력하세요')
print(num1+num2)

In [ ]:
#input()함수를 사용하면 숫자도 문자로 전환되어 숫자연산을 위한 변환 필요
num1 = input('숫자를 입력하세요')
num1_n =int(num1)
num2 = input('숫자를 입력하세요')
num2_n = int(num2)
print(num1_n+num2_n)

In [ ]:
#Q. 3 과 3.3을 입력하고 숫자연산을 수행하여 6.3을 출력하세요
num1 = input('숫자를 입력하세요')
num1_n = float(num1)
num2 = input('숫자를 입력하세요')
num2_n = float(num2)
print(num1_n+num2_n)

In [ ]:
#Q. a=52 와 b=52.273 일때, a+b는 5252.273로 출력되도록 a ,b를 문자열 
#자료형으로 변환하세요.

a = 52
b = 52.273
print(str(a)+str(b))

In [ ]:
num1 = input('숫자를 입력하세요')
num1_n = (num1)
num2 = input('숫자를 입력하세요')
num2_n = (num2)
print(num1_n+num2_n)

In [ ]:
a = 52
b = 52.273
print(str(a)+str(b))

In [ ]:
# 문자열 : ''.''.''''''.""""""
p1= "pythons' value is great"
#p2= 'python's value is great'
print(p1)
#syntax Error :  문법오류

In [ ]:
s1 = '"python is valuable"he says'
s1

In [ ]:
s2= 'pythons value\'s is great'
s2

In [ ]:
y1 = "Once you study data anaysis\nYou need python"
print(y1)
#\n 줄바꿈
y2 = '''Once you study data analysis
you need python'''
print(y2)
y3 = """nce you study data anaylsis
you need pythin"""
print(y3)

In [ ]:
#문자열 연산
a1 = 'Python'
a2= 'is easy to learn'
print(a1+ a2)
print(a1*3)
print("="*20)

In [ ]:
print(12+2)

In [ ]:
say = "\"python is cute\"he say"
say

In [ ]:
# 자료형 -  List
#리스트는 []로 표시하며 []안의 요소를 콤마로 구분하여 순서있게 나열
list1=[1,2,3,4,5]
list2 = ['a','b','c']
list3 = [1, 'a','abc',[1,2,3,4,5,],['a','c']]
print(list3)

In [ ]:
#인덱싱
list1 = [1,2,3,4,5]
list1[:]
list3[2]
list3[3][4]

In [ ]:
#리스트 수정, 삭제

a = [0,1,2,3,4,5,6,7,8,9]
b= ['a','b','c']
a[0]=1
b[1]='a'
del b[1]
print(a)
print(b)

In [ ]:
a = [0,1,2,3,4,5,6,7,8,9]
b=['a','b','c']
c= a+b
print(c)
c[-1] =1
c

In [ ]:
c[-2]=2
c

In [ ]:
s = [1,1,2,3,4,5,6,7,8,9,2,1]
s.sort()
print(s)
# 내림차순

In [ ]:
#정렬
b=[2,4,3,1]
b.sort()
print(b)
# 내림차순
b_d = sorted(b,reverse=True)
print(b_d)
b.reverse()
print(b)

In [ ]:
s  = [1,1,2,3,4,5,6,7,8,9,2,1,]
s.sort()
print(s)
s.reverse()
print(s)
s_d = sorted(s, reverse=True)
print(s_d)

In [ ]:
#인덱스 위치 반환
c=[1,2,3,1,5]
print(c.index(3))

In [ ]:
#인덱스 위치 반환
import numpy as np
c= np.random.randint(100, size=100).tolist()
print(c)
c.index(65)

In [ ]:
import numpy as np
c= np.random.randint(100, size=100).tolist()
print(c)
c.index(65)

In [ ]:
!pip install numpy
# 라이브러리 설치 이렇게 해도 됨

In [ ]:
#개수반환
c = [1,1,2,3,3,3,5]
c.count(3)

In [ ]:
#리스트 확장
h = [1,2,3]
h.extend ([4,5])
print(h)
h.append(6)
print(h)
h.insert(0,5)  #0번쨰 인덱스에다가 5를 삽입
print(h)
h.insert(8,7)
print(h)
h.insert(-1,8)
print(h)

In [ ]:
#튜플 
tuple1 = (1,2,3,4,5)
tuple2 = ('a','b','c')
tuple3 = (1, 'a','abc',[1,2,3,4,5],['a','b','c'])

tuple1[:]
tuple3[3][4]
tuple3[4][1]

In [ ]:
# 자료형= TUPLE
# 튜플의 요소 값은 변경할 수 없음 - 프로그램에서 그 값이 항상 변하지
#않아야되는 경우 사용

tuple1[0]=6
pirnt(tuple1)
tuple[0]='c'
print(tuple1)
del t1[0]
print[t1]

In [ ]:
t1=(1,)# 1개의 요소만 가질 때는 요소 뒤에 콤마를 붙여야함
print(t1)
t2=1,2,3,
print(t2)
print(t2*3)
t3 = t1+t2
print(t3)
t4=(1)
print(t4)
type(t4)

In [ ]:
#자료형 - 사전(키와 값을 하나의 요소로 하는 순서가 없는 집합)
d1={'a':1,'b':2,'c':3}
print(d1['a'])
d1['b']=5
print(d1)
print(d1['c'])

In [ ]:
print(d1.keys())
print(d1.values())
print(d1.items())

In [ ]:
print(d1.keys())

In [ ]:
d1 = {1:'a'}
a[2] = 'b'
a

d1={'맑음':1, '눈':2.'비':3}
print(d1) # 추가연습
print(d1.keys())

In [ ]:
dic = {'apple':'사과', 'book':'책', 'cube':'육면체'}

print('현재 사전에 있는 단어 목록')
print(dic.keys())
search = input("\n뜻을 알고 싶은 영단어를 입력하세요: ")
print(search + '(은)는 ' + dic[search] + '입니다.')

In [ ]:
# 자료형 - 집합, set( 중복을 허용하지 않으며 순서가 없다.)
s1= set([1,2,5,4,3])
s2= set ('hello') # l자가 두갠데 중복허용하지 않아서 한개만 나옴
print(s1)
print(s2)

In [ ]:
#집합은 인덱싱으로 값을 얻을 수 없으며 필요시 리스트나 튜플로 변환 후 인덱싱
l1= list(s1)
print(l1[1])
l2 = list(s2)
print(l2[1])
l1 = list(s1)
print(l1[3])

In [ ]:
#Q. s1, s2 의 합집합과 교집합을 각각 리스트와 튜플로 출력하세요.
# 합집합(s1|s2), 교집합 (s1&s2)
s1= set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

list(s1|s2)
print(list(s1|s2))
tuple(s1&s2)
print(list(s1s2))

In [ ]:
s1= set([1,2,3])
t1=tuple(s1)
t1
t1[0]

In [ ]:
#들여쓰기
li=['a','b','c']
if 'a' in li:
    print('a가 li에 있습니다.')
else:
    print('a가 li에 없습니다')

In [ ]:
li=['사과','딸기','감']
if '사과' in li:
    print('사과 있습니다')
else :
    print('사과 없습니다')

In [ ]:
#문자열  format
name= '홍길동'
age = 30
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

In [ ]:
d= {'name':'헝길동','age':30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

In [ ]:
name ='사과'
age= 30
f'나의 이름은 {name}입니다.나이는 {age}입니다.'

In [ ]:
d = {'name':'홍길동', 'age':30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

In [ ]:
y=3.42134234
f'{y:0.4f}' #소수점 4자리까지만 표현
#f는 format입니다

In [ ]:
f'{y:10.4f}' #소수점 4자리까지 표현하고 총 자리수를 10으로 맞춤
#전체 자리수 10개고 소수점자리 4개까지

In [ ]:
f'{y:8.4f}'

In [ ]:
#포멧함수
f1 = "{1}선수가 {0}등입니다.".format('홍길동',1)
print(f1)
print("%s선수가 %d등입니다" %("홍길동",1)) #s는 문자쓸 때, %d는 숫자를 썼고

In [ ]:
f1="{}은 {}보다 {}배 쉽습니다.".format('파이썬','자바',2)
print(f1)
print('%s는 %s보다 %d배 쉽습니다'%('파이썬','자바',2))

In [ ]:
f="{}은 {}보다 {}배 쉽습니다." .format('파이썬','자바',2)
print(f)
print("%s은 %s보다 %d배 쉽습니다." %('파이썬','자바',2))

In [ ]:
y=12345
print(f'{y:5.0f}')

y=0.000012345
print(f'{y:5.5f}')

#[과제] 아래와 같이 출력하세요

12345 
     12345
12.345679
         12.346

In [ ]:
y=1.2345
print(f'{y:5f}')

In [ ]:
f'{y:10.4f}' #소수점 4자리까지 표현하고 총 자리수를 10으로 맞춤
#전체 자리수 10개고 소수점자리 4개까지

In [ ]:
y=12345
print(f'{y:0.0f}')
print(f'{y:10.0f}')

In [ ]:
y=12345
print(f'{y:0.0f}')
print(f'{y:10.0f}')
y=12.345679
print(f'{y:8.6f}')
print(f'{y:11.3f}')

In [ ]:
# 과제
y=12345
print(f'{y:0.0f}')
print(f'{y:10.0f}')
y=12.345679
print(f'{y:8.6f}')
print(f'{y:11.3f}')

In [ ]:
y=12345
print(f'{y:.0f}')
print(f'{y:10.0f}')

In [ ]:
#제어문 - if~elif~ else # 세가지이상 조건이 있는 경우 사용
# "수입과 지출금액을 비교해서 수입이 많으면 저축증가, 반대면 빚이 증가"
#"같으면 현상 유지"

i = 3,000,000
e = 5,000,000


if i> e:
    print('저축증가')
elif i < e :
    print('빚이 증가')
else :
    print('현상유지')

In [ ]:
#for  반복문
numbers = [5,15,6,20,7,25]
for number in numbers :
    print(number, end= ' ')
    
    #numbers 에서 각각의 숫자(요소), 하나씩 여섯번 꺼낸다는 것
    # 5를 빼, 5를 출력하지 끝에다가 한칸 띄워라 라는 명령 end = " "

In [ ]:
#for ~continue ~ break 
# 1~ 10 법위의 정수에서 1부터 5까지만 출력하세요



for i in range(1,11) :
    print(i) 
    if i < 5:
        continue 
    else:
        break

In [ ]:
for i  in range(1,11):
    print(i, end = ' ')
    if i <5 :
        continue
    else:
        break

In [ ]:
#numbers 리스트에서 15,20,25를 출력하세요(for문과  if조건 사용 필수)
numbers = [5,15,6,20,7,25]

for number in numbers:
    if number <10 :
         continue        
    else:
       print(number, end = ' ')

In [ ]:
numbers = [ 5, 15, 6, 20, 7, 25 ]
for number in numbers:
    if(number>10):
        print(number, end=' ')
    else:
        continue

In [ ]:
for number in numbers:
    print(number, end = ' ')
    if i < 10 :
        continue
    else: 
        break

In [ ]:
# while(무한반복,  break로 끊어줘야됨)
# 정수 1부터 n 까지 더할 때 그 합이 1000보다 커지게 되는 n과 합을 구하세요

x= 1
sum= 0

while True:
    sum= sum + x
    if sum > 1000:
        print(x)
        print(sum)
        break
    x = x + 1

In [35]:
#while 문을 사용해1부터 10000까지의 정수 중 3의 배수의 합을 구하시오

i=0
sum=0

while i<1000:
    i+=1
    if i%3==0:
        sum =sum+i
        

print(sum)

166833

In [ ]:
x = 1
sum = 0
while x<=1000:
    if x%3 == 0:
        sum+=x
    x+=1
print(sum)

In [ ]:
x = 1
s = 0

while x <= 1000:
    if x%3==0:
        s += x
    x+=1
    
print(s)

###과제 
#1부터 100까지의 정수 중 5에서 95까지의 합을 구하시오.

In [ ]:
x = 0
s = 0

while x<100:
    i+=1
    if i>=5 or i <=95:
     sum += i
   print(sum)



x

In [ ]:
#101의 3승을 구하세요

print(101**3)

In [ ]:
# python과 3.8.3을 합쳐서  python 3.8.3으로 출력하세요

a= 'python'
b= ' 3.8.3'
print(a + b)

In [ ]:
print(5//2)
print(5%2)

print(101**3)

a= 'python'
b= ' 3.8.3'
print(a + b)

In [ ]:
#a = 5 a ='10' a =15

a=5
print(type(a))
a= '10'
print(type(a))
a = 15
print(type(a))

In [ ]:
#a = 5 a ='10' a =15
a= 5; a = '10' ;a= 15
type(a)

In [ ]:
#5의 3승을 3으로 나누었을 때 나머지를 복합대입 연산자를 이용해 구하세요
print((5**3)%3)

In [ ]:
#숫자 3개를 입력해서 첫번째 숫자를 두번째 숫자 승한 뒤에 세번째 숫자로 나누었을 때
#몫을 구하세요


a = int(input('첫번째 숫자를 입력해주세요'))
b = int (input("두번째 숫자를 입력해주세요"))
c = int (input("세번째 숫자를 입력해주세요."))
d= (a**b)//c

print(d)

In [ ]:
#1부터 5까지 입력해서 12345를 출력하세요
num=12345
print(num)

In [ ]:
name= input("이름이 무엇이세요? ")
"제 이름은"+name +"입니다"

#[과제]
1. while문을 사용해 1부터 1000가지의 정수 중 3과 5의 공배수의 합을 구해보세요.
2. 1부터 5까지 입력해서 12345를 출력하세요
3. [0,1,2,3,4,5,6,7,8,9,' a','b','c']에서 9와 'a'를 삭제후 리스트로 출력하세요
4. [0,1,2,3,4,5,6,7,8,'b','c'] 에서 'c'를 삭제후 출력하세요
5. 4,8,5,4,8,4,3,9,1,9 를 내림차순으로 정렬하세요
6.format함수를 이용해서 다음과 같은 형식으로 현재 날짜/시간을 출력하세요
2021년 12월 29일 15시 47분 30초
7.현재 시각을 오전과 오후로 구분하느 프로그램을 작성하세요.
8.정수를 입력하면 홀수짝수를 판별하는 프로그램을 작성하세요
9.태어난 연도를 입력받아 띠를 출력하는 프로그램을 작성하세요.
원숭이,닭,개,돼지.쥐,소,범 ,토끼,용,뱀,말,양띠
10.계절 구분 프로그램
 각 계절별 출력멘트는 계절에 맞게 창작
11. if조건문으로  datetime모듈을  import해서 datetime.now함수를 사용해서 작성
 
 [ 과제]
12.  시나리오 : 자판기 커피 재고 5잔, 커피 1잔 가격 300원, 재고 범위내에서 300원 이상 돈을 넣으면 거스름돈과 커피를 주고 그렇지 않으면 반환하며 재고가 소진되면 안내멘트 출력
각 Case별 멘트 출력은 상황에 맞게 창작
while, if ~ elif ~ else 제어문을 사용하여 작성

In [22]:

i=0
sum=0

while i<1000:
    i+=1
    if i%3 ==0 and i%5 ==0:
        sum =sum+i
        
print(sum)




i=0
sum=0

while i < 1000:
    i +=1
    if i%3 ==-0 and i%5 ==0:
        sum = sum+i
        
print(sum)

i=0
sum=0

while i< 1000:
    i += 1
    if i%3==0 and i%5==0 :
        sum= sum +i
        
print(sum)

33165
33165
33165

In [34]:
treehit = 0
while treehit <10:
        treehit= treehit +1
        print("나무를 %d번 찍었습니다"%treehit)
        if treehit ==10:
            print("나무 넘어갑니다")

a=0
while a<10 :     
    a = a+1
    if a % 2 ==0: continue
    print(a)

나무를 1번 찍었습니다
나무를 2번 찍었습니다
나무를 3번 찍었습니다
나무를 4번 찍었습니다
나무를 5번 찍었습니다
나무를 6번 찍었습니다
나무를 7번 찍었습니다
나무를 8번 찍었습니다
나무를 9번 찍었습니다
나무를 10번 찍었습니다
나무 넘어갑니다
1
3
5
7
9

In [ ]:
#커피과제 

coffee = 5


money= int(input('돈을 넣어주세요: '))
while 1:
    if money == 300:
        print("커피를 드리겠습니다")
        coffee = coffee-1
        print("남은 커피의 수량은 %d잔 입니다"% coffee)
        
    elif money > 300 : 
         print(" 거스름돈%d을 드리겠습니다"% (money -300))
         coffee= coffee-1
         
    else:
        print("돈을 돌려주고 커피를 주지 않습니다")
        print("남은 커피의 양은 %d입니다"%coffee)
    if coffee ==0 :
        print("커피가 다 떨어졌습니다")
    
    break

In [ ]:
#10. 계절 구분 프로그램 각 계절별 출력멘트는 계절에 맞게 창작 if조건문으로 datetime모듈을
#import해서 datetime.now함수를 사용해서 작성

import datetime

now = datetime.datetime.now()

if 3 <=now.month <5 :
    print("이번달은 {}날로 봄입니다".format(now.month))
elif 6<= now.month <9:
    print("이번달은{}날로 여름입니다".format(now.month))
elif 9<= now.month <12:
    print("이번달은 {}날로 가을입니다".format(now.month))
else:
    print("이번달은 {}날로 겨울입니다".format(now.month))

In [ ]:
#9.태어난 연도를 입력받아 띠를 출력하는 프로그램을 작성하세요.

i=input("태어난해를 입력해주세요")
year=int(i)%12

animals=["원숭이","닭","개","돼지","쥐","소","범" ,"토끼","용","뱀","말","양띠"]
print(animals[year],"띠입니다.")

In [ ]:
#8. 정수를 입력하면 홀수짝수를 판별하는 프로그램을 작성하세요


i= input('정수를 입력하세요')
i= int(i)

if i%2 ==0:
    print("짝수입니다")
else :
    print("홀수입니다")

In [ ]:
#6. format함수를 이용해서 다음과 같은 형식으로 현재 날짜/시간을 출력하세요 
#2021년 12월 29일 15시 47분 30초

import datetime
t=datetime.datetime.now()

import datetime
t=datetime.datetime.now()

f= "{}년 {}월 {}일 {}시 {}분 {}초".format(t.year,t.month,t.day,t.hour,t.minute,t.second)
print(f)


d = datetime.datetime.now()
print (t.year,'년',t.month,'월', t.day,'일',t.hour,'시',t.minute,'분',t.second,'초')

In [ ]:
#7. 현재 시각을 오전과 오후로 구분하는 프로그램을 작성하세요.

import datetime

now=datetime.datetime.now()


t = input('현재 시간을 입력하세요')

if now.hour < 12:
    print("현재시간은 오전입니다")
else:
    print("현재 시간은 오후입니다")

In [ ]:
# 5. 4,8,5,4,8,4,3,9,1,9 를 내림차순으로 정렬하세요

x= [4,8,5,4,8,4,3,9,1,9]
x= sorted(x,reverse=True)
print(x)

In [ ]:
#4.[0,1,2,3,4,5,6,7,8,'b','c'] 에서 'c'를 삭제후 출력하세요

list= [0,1,2,3,4,5,6,7,8,'b','c']
del[list[-1]]
print(list)

In [ ]:
#3. [0,1,2,3,4,5,6,7,8,9,' a','b','c']에서 9와 'a'를 삭제후 리스트로 출력하세요

x= [0,1,2,3,4,5,6,7,8,9,' a','b','c']
del(x[9])
del(x[9])
print(x)

In [ ]:
# 1. while문을 사용해 1부터 1000가지의 정수 중 3과 5의 공배수의 합을 구해보세요

i=0
sum=0

while i<1000:
    i+=1
    if i%3 ==0 and i%5 ==0:
        sum =sum+i
        
print(sum)

In [ ]:
 number=[0,1,2,3,4,5,6,7,8,9,'a','b','c']
    print()

In [ ]:
#2. 1부터 5까지 입력해서 12345를 출력하세요
num=12345
print(num)